* {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #CEDBDC;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    background-color: #C7E3E5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
}


.container-one {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;

}

.slider-one {
    display: flex;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.buttons-one {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-prev__one {
    margin-right: 15px;
}

.button-prev__one,
.button-next__one {
    height: 35px;
    width: 100px;
    font-size: 19px;
    background: #514A7E;
    border: 0.5px solid #514A7E;
    box-sizing: border-box;
    color: #FFFDF5;
    cursor: pointer;
}

.button-prev__one:hover,
.button-next__one:hover {
    background: #383261;
    transition: 0.3s;
}

.slider-two__ul {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.slider-two__li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: grey;
    margin-left: 6px;
    cursor: pointer;
}

.slider-two__li:hover {
    background: rgb(51, 50, 50);
}

.slider-two__active {
    background: rgb(51, 50, 50);
}

.slider-two {
    display: flex;
    width: 100%;
    height: auto;
}

.container-two {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;

}

.slider__img {
    /* width: 100%;
    height: 100%;
    object-fit: contain; */
}



.slider-one,
.slider-three {
    width: 800px;
overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.slider-one__line,
.slider-three__line {
    display: flex;
    transition: 0.5s;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 135px;
    cursor: pointer;
}

.arrow-right {
    right: 5px;
}

.slider-three__ul {
    display: flex;
    margin-left: 5px;
    justify-content: center;
    margin-top: 10px;
}

.slider-three__li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: grey;
    margin-left: 6px;
    cursor: pointer;
}

.slider-three__active {
    background: rgb(51, 50, 50);
}