*{
    margin: 0;
    padding: 0;
}
ul>li{
    list-style-type: none;

}
a{
    text-decoration: none;
}
.container-one{
   margin: 0 auto;
   /* display: flex; */
   overflow: hidden;
   max-width: 500px;
   
}
.slider-one{
    display: flex;
    transition: 0.5s;
 
}
.buttons-one{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button-prev__one{
    margin-right: 15px;
}
.button-prev__one,
.button-next__one{
    height: 35px;
    width: 100px;
    font-size: 19px;
    background: #514A7E;
    border: 0.5px solid #514A7E;
    box-sizing: border-box;
    color: #FFFDF5;
    cursor: pointer;
}

.button-prev__one:hover,
.button-next__one:hover{
     background: #383261;
     transition: 0.3s;
}
.container-two{
    margin-top: 50px;
}
.slider-two__ul{
    display: flex;
    justify-content: center;
}
.slider-two__li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:grey;
    margin-left: 6px;
    cursor: pointer;
}
.slider-two__li:hover{
background:rgb(51, 50, 50);
}
.slider-two{
    display: flex;
   
}
.container-two{
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px;
    margin-top: 50px;
}
