* {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #CEDBDC;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}


.container-one {
    margin: 0 auto;
    
    overflow: hidden;
    width: 100%;
    
}

.slider-one {
    display: flex;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.buttons-one {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-prev__one {
    margin-right: 15px;
}

.button-prev__one,
.button-next__one {
    height: 35px;
    width: 100px;
    font-size: 19px;
    background: #514A7E;
    border: 0.5px solid #514A7E;
    box-sizing: border-box;
    color: #FFFDF5;
    cursor: pointer;
}

.button-prev__one:hover,
.button-next__one:hover {
    background: #383261;
    transition: 0.3s;
}

.slider-two__ul {
    display: flex;
    justify-content: center;
}

.slider-two__li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: grey;
    margin-left: 6px;
    cursor: pointer;
}

.slider-two__li:hover {
    background: rgb(51, 50, 50);
}

.slider-two__active {
    background: rgb(51, 50, 50);
}

.slider-two {
    display: flex;
       width: 100%;
    height: auto;
}

.container-two {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    
}

.slider__img{
    /* height: 100%;
    width: 100%;
    object-fit: contain; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* transition: 0.3s; */
}